.container {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.weatherNowContainer,
.weatherHourlyContainer {
  height: 100%;
}
.weatherNowContainer {
  width: 30%;
}
.weatherHourlyContainer {
  width: 70%;
}

.weatherNowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location,
.currDate,
.currTemperature {
  color: white;
  font-weight: bold;
}

.currDate,
.location {
  font-size: 1.3rem;
}

.currTemperature {
  font-size: 2.7rem;
}

.weatherIcon {
  display: flex;
  justify-content: center;
  color: white;
}

.weatherIcon img {
  width: 70px;
  height: 70px;
}

.weatherDesc {
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
}

.tableContainer {
  margin-top: 0.2rem;
}

.separator {
  width: 1px;
  background-color: white;
  height: auto;
}

.separatorHorz {
  display: none;
  background-color: white;
  width: 100%;
  height: 0.085rem;
  margin: 0.5rem;
  border: transparent;
}

@media (max-width: 990px) {
  .weatherNowContainer {
    width: 40%;
  }

  .weatherHourlyContainer {
    width: 60%;
  }

  .currDate,
  .location {
    font-size: 1.02rem;
  }
}

@media (max-width: 790px) {
  .container {
    width: 92%;
  }
}

@media (max-width: 770px) {
  .separator {
    display: none;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .weatherNowContainer,
  .weatherHourlyContainer {
    width: 100%;
  }

  .separatorHorz {
    display: block;
  }
}
