.container {
  margin: 0.5rem;
  padding: 0.7rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.text {
  font-size: 1.4rem;
}

.text,
.saveButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.saveButton {
  font-size: 1.55rem;
  cursor: pointer;
  margin-left: 0.8rem;
  padding: 0;
  background: none;
  border: none;
}
