.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--icons-dark-color);
}

.container div {
  padding: 0 0.8rem;
}

.linkButtons {
  display: flex;
  flex-direction: row;
}

.text {
  font-size: 1.15rem;
  font-weight: 800;
}

.icon {
  font-size: 2rem;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.15);
}
